* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 1px;

}

nav {
    height: 11vh;
    width: 100%;
    margin-top: 2vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav h1 {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: Monument;
    letter-spacing: -2px;
}

nav h2 {
    height: 100%;
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #000;
    font-size: 1.4vw;
    font-weight: 600;
}

nav h2:nth-last-child(2) {
    width: 24%;

}

nav h2:nth-last-child(1) {
    width: 10%;

}

main #center {
    height: 100vh;
    width: 100vw;
    padding: 3vw;
    position: relative;
}

main #content {
    height: 100%;
    width: 100%;
    position: relative;
}

main #content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main #overlay {
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
}

main #over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 2vh;
}

main #over1 h1 {
    font-family: Monument;
    font-size: 3.7vw;
    /* mix-blend-mode: difference;   */

}

main #over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 1px solid #fff;
    border-right: 5px solid #f8f8f8;
}

main #over2 {

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: 2px solid #fff;
    padding: 1vh;

}

main #over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

main #over2 img {
    font-size: 1vw;
}

#scroll {
    height: 45vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
}

#scroll img {
    height: 18vw;
    width: 19vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 22% 25%;
    margin: 1vw;
}

#container {
    padding: 1vw;
    display: inline-block;
    height: 100%;
    width: 215%;
    animation: anime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}