* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#main {
    height: 100%;
    width: 100%;
    background-color: #f8f8f8;
    position: relative;
    padding-top: 1px;

}

nav {
    height: 12vh;
    width: 100%;
    margin-top: 2vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav h1 {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    font-family: Monument;
    letter-spacing: -2px;
    position: relative;
}

nav h1::after {
    content: "©";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.8vw;
    position: absolute;
    top: -4%;
    right: 20%;
}

nav h1::before {
    content: "model management";
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1vw;
    position: absolute;
    top: 70%;
    right: 23%;
    letter-spacing: 1px;
    color: #2c2b2b;
}

nav h2 {
    height: 100%;
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #000;
    font-size: 1.4vw;
    font-weight: 600;
}

nav h2:nth-last-child(2) {
    width: 24%;

}

nav h2:nth-last-child(1) {
    width: 10%;

}

main #center {
    height: 100vh;
    width: 100vw;
    padding: 3vw;
    position: relative;
}

main #content {
    height: 100%;
    width: 100%;
    position: relative;
}

main #content video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

main #overlay {
    height: 55%;
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 3vw;
}

main #over1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin: 2vh;
}

main #over1 h1 {
    font-family: Monument;
    font-size: 3.7vw;
    /* mix-blend-mode: difference;   */

}

main #over1 h2 {
    font-size: 1vw;
    padding: 2vw 2.2vw;
    border-radius: 50%;
    border: 1px solid #fff;
    border-right: 5px solid #f8f8f8;
}

main #over2 {

    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    border-top: 2px solid #fff;
    padding: 1vh;

}

main #over2 h4 {
    font-size: 1.3vw;
    font-weight: 500;
}

main #over2 img {
    font-size: 1vw;
}

#scroll {
    height: 45vh;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    /*to bring another container to beside to it*/
}

#scroll img {
    height: 18vw;
    width: 19vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 22% 25%;
    margin: 1vw;
}

#container {
    padding: 1vw;
    display: inline-block;
    height: 100%;
    width: 215%;
    animation: anime;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@keyframes anime {

    /* this is used to add marquee animation */
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

#alphabets {
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#alphabets h4 {
    font-size: 2vw;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    border-bottom: 2px solid #000;
    margin-right: 1vw;
}

#alphabets h5 {
    font-size: 1.5vw;
    font-weight: 400;
    font-style: italic;
    padding: 0.4vw 0.6vw;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid #00000000;
    transition: all ease 0.2s;
}

#alphabets h5:hover {
    border: 2px solid #000;
}

#page2 {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw 1.5vw;
}

#page2-part1 {
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1467632499275-7a693a761056?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8bW9kZWxzJTIwYmVhY2h8ZW58MHx8MHx8fDI%3D);
    background-size: cover;
    background-position: top;
    border-radius: 10px;
    margin-top: 2vw;

}

#page2-part2 {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vw;

}

#page2-part2 img {

    height: 65%;
    width: 75%;
    object-fit: cover;
    object-position: top;
    border-radius: 10px;
    padding: 1vh;
}

#page2-part2 #text {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
}

#page2-part2 #text h3 {
    letter-spacing: 2px;
    padding: 1vh 6vw;
    font-size: 5vh;
    font-weight: 500;
    font-family: Monument;

}

#page3 {
    margin: 1vw;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 0vw 0vw 0vw 4vw;
}

#page3 #page3_header {
    display: flex;
    align-items: center;
    height: 10%;
    width: 100%;
    /* background-color: crimson; */
}

#page3 #page3_header h1 {
    font-family: MONUMENT;
    font-size: 4.5vw;
    letter-spacing: 0.12vw;
}

#page3 #page3_content {
    height: 90%;
    width: 100%;
    padding: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: violet; */
}

#left_section {
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* margin-right: 5%; */
    /* background-color: crimson; */
}

#right_section {
    height: 100%;
    width: 65%;
    background-image: url(/images/img1.jpg);
    background-size: cover;
    border-radius: 15px;
    background-position: center;
    background-color: rgb(80, 20, 220);
}

/* SVG TEXT CIRCULAR ANIMATION */

#left_section #circulartext text {
    fill: rgb(0, 0, 0);
    font-size: 2.5vw;
    font-weight: 600;
    font-variant-ligatures: none;
    letter-spacing: 10px;
    animation: rotate 10s linear infinite;
    transform-origin: center;
}

#left_section text:hover {
    fill: rgb(207, 44, 44);
}

#left_section svg {
    max-width: 58vmin;
    position: relative;
    right: 5%;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.textcircle {
    transition: transform 1s cubic-bezier(0.65, 0, 0.35, 1);
    transform-origin: 250px 250px;
}

#left_section svg:hover .textcircle {
    transform: scale(1.2) rotate(90deg);
}

/* Animation Done */

#left_section #circulartext {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#circulartext #icon img {
    height: 7vw;
    position: absolute;
    top: 38%;
    right: 40%;
}



/* Page 4  Full Section */

#page4 {
    height: 100vh;
    width: 100vw;
    padding: 2vw 3vw;
    /* background-color: crimson; */
}

#page4 #page4_content {
    margin: 1vw;
    height: 100vh;
    width: 90vw;
    background-image: url("/images/page4.jpg");
    background-size: cover;
    border-radius: 15px;
    /* background-color: purple; */
}

#page5 {
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 5vw 4vw;
}

#page5>h1 {
    text-align: center;
    font-family: Monument;
    text-transform: uppercase;
    font-size: 4vw;
    font-weight: 900;
    margin-bottom: 6vw;
}

.element {
    padding-left: 2vw;
    height: 10vw;
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    position: relative;

}

.element:nth-last-child(1) {
    border-bottom: 2px solid #000;
    margin-bottom: 20vh;
}

.element img {
    position: absolute;
    height: 95%;
    width: 9vw;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    opacity: 0;
    transition: all ease-out 0.8s;
}

.element:nth-child(odd) img {
    left: 15%;
}

.element:nth-child(even) img {
    left: 25%;
}

.element img:hover {
    opacity: 1;
    left: 20%;
}

.element:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: none;
}

.element h4 {
    font-size: 1.8vw;
    text-transform: uppercase;
    font-weight: 500;
    width: 6%;
}

.element .element-event-title {
    width: 45%;
}

.element .element-event-title h2 {
    font-size: 3vw;
    font-weight: 500;

}

.element .element-event-title h6 {
    font-size: 1.1vw;
    font-weight: 600;
    text-transform: uppercase;
}

#page6 {
    height: 100vh;
    width: 100vw;
    margin-top: 15vw;
    padding: 2vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 4vw;
}

#page6 #left {
    width: 40%;
    height: 120%;
}

#page6 #left img {
    margin-top: 4vh;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;

}

#page6 #right {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#page6 h1 {
    font-family: Monument;
    font-size: 5vw;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-left: 2vw;
}

#page6 h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 2vw;
    padding-left: 2vw;
    margin-top: 2vh;
}


#right #right-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 1vw;
}

#right-content img {
    height: 90%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    padding: 1vw;
}

#page7 {
    height: 100vw;
    width: 100vw;
    margin-top: 15vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#page7 #upper-part {
    height: 50%;
    width: 95%;
}

#page7 #upper-part img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    margin: 1vw;
}


#page7 #lower-part {
    height: 50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lower-part #lower-left {
    height: 100%;
    width: 50%;
}

#lower-left img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    padding: 1vw;
}

#lower-part #lower-right {
    height: 100%;
    width: 50%;
}

#lower-right img {
    height: 60%;
    width: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 20px;
    padding: 1vw;
}

#lower-right h2 {
    font-size: 2.85vw;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    width: 85%;
    padding: 1vw;
    padding-left: 10vw;
}

#marque {
    width: 100%;
    padding: 0.7vw;
    white-space: nowrap;
    overflow: hidden;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

#marque h1 {
    font-family: Monument;
    font-size: 5vw;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    color: transparent;
    -webkit-text-stroke: 2px black;
    letter-spacing: 2px;
    margin-right: 1rem;
    animation: marque-anime 4s linear infinite;
}

@keyframes marque-anime {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(calc(-100% - 20px));
    }
}